@import '../../index.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1.25em 1em;
  &Logo {
    width: 10em;
  }
  &Nav {
    display: flex;
    .navContainer {
      padding: 0.5em 0.8em;
      display: flex;
      align-items: center;
      gap: 0.5em;
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
      }
      &Icon {
        width: 1.5rem;
      }
    }
  }
  &Actions {
    display: flex;
    gap: 1em;
    &Login {
      display: inline-flex;
      align-items: center;
      gap: 0.75em;
      padding: 0 0.75em;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      font-weight: bold;
      font-family: inherit;
      cursor: pointer;
    }
    .button {
      padding: 0.4em 1em;
      border-radius: $border-radius;
      border: none;
      background: linear-gradient(
        -15deg,
        $primary-color,
        $primary-color,
        $primary-color,
        white
      );
      color: inherit;
      font-weight: bold;
      font-family: inherit;
      cursor: pointer;
    }
  }

  @media screen and (min-width: $bp-tablet) {
    & {
      flex-direction: row;
      justify-content: space-between;
      padding: 1em 4em;
    }
    &Logo {
      width: 16em;
    }
    &Nav {
      flex: 1;
      .navContainer {
        padding: 1em;
        gap: 0.75em;
        &--end {
          margin: 0 0 0 auto;
        }
        &Icon {
          width: 2rem;
        }
      }
    }
    .button {
      padding: 0.7em 1.5em;
      font-size: $text-lg;
    }
  }
}
